.re_container
  padding 10px 0
  text-align justify
.re_card_container {
  display inline-block
  padding 10px 0
  width 194px
  height 210px
  vertical-align: top
  .card {
    text-align center
  }
}

.re_container:after {
//clear both;
//display table;
//  content "";
}
